// bower:scss
// endbower
@font-face {
  src: url('../fonts/BebasNeueRegular.woff');
  font-family: "Bebas Neue Regular";
  font-weight: 400;
}

@font-face {
  src: url('../fonts/BebasNeueLight.woff');
  font-family: "Bebas Neue Light";
  font-weight: 400;
}

@font-face {
  src: url('../fonts/BebasNeueBold.woff');
  font-family: "Bebas Neue Bold";
  font-weight: 400;
}

@font-face {
  src: url('../fonts/BebasNeueThin.woff');
  font-family: "Bebas Neue Thin";
  font-weight: 400;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.m-top {
  display: block;
  width: 100%;
  padding: 0;
  background: url('../images/top_bg.jpg') no-repeat center top;
  background-size: cover;
  &__page {
    display: block;
    width: 100%;
    padding: 20px 0;
  }
  &__title {
    display: block;
    margin: 0 0 18px 0;
    color: #ffffff;
    font-family: "Bebas Neue Bold";
    font-size: 55px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  &__breadcrumps {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      color: #ffffff;
      font-family: "Bebas Neue Regular";
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      a {
        display: inline-block;
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover,
        &:active,
        &:focus {
          color: #2d9cdb;
          text-decoration: none;
        }
      }
      span {
        display: inline-block;
        margin: 0 10px;
      }
    }
  }
  &__content {
    display: block;
    padding: 30px 0 90px 0;
    ul {
      display: block;
      margin: 0 0 35px 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        margin: 0 0 30px 0;
        padding: 0 0 0 35px;
        background: url('../images/icon_li.png') no-repeat left 8px;
        color: #ffffff;
        font-family: "Bebas Neue Bold";
        font-size: 45px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }
  &__what {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0;
    padding: 30px;
    background: rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-family: "Bebas Neue Bold";
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
  }
  &__button {
    display: inline-block;
    padding: 20px 40px;
    border: 0;
    outline: none;
    box-shadow: 0 0 35px rgba(45, 156, 219, 0.42);
    background-image: linear-gradient(to bottom, #33bfff 0%, #0085c2 100%);
    color: #ffffff;
    font-family: "Bebas Neue Regular";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 0 35px rgba(45, 156, 219, 0.42);
      background-image: linear-gradient(to bottom, #64ceff 0%, #009ee7 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.m-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  &__mob-nav {
    display: none;
  }
  &__search-wrapper {
    position: relative;
  }
  &__searching {
    display: none;
    position: absolute;
    width: 260px;
    right: 0;
    top: 100%;
    padding: 14px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 8;
    input {
      display: inline-block;
      width: 100%;
      max-width: 200px;
      margin: 0;
      padding: 6px 12px;
      border: 0;
      outline: 0;
      border-bottom: 2px solid transparent;
      border-bottom-color: #ffffff;
      background: transparent;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-bottom-color: #2d9cdb;
        color: #ffffff;
        text-decoration: none;
      }
    }
    a, button {
        display: inline-block;
        border: 0;
        outline: none;
        background: transparent;
        padding: 2px 6px 6px 6px;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.7;
          color: #2d9cdb;
          text-decoration: none;
        }
    }
  }
  &__logo {
    display: inline-block;
    img {
      max-width: 100%;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &__contact {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
  }
  &__phone {
    display: block;
    margin: 0 0 12px 0;
    color: #ffffff;
    font-family: "Bebas Neue Bold";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #2d9cdb;
      text-decoration: none;
    }
  }
  &__call {
    display: inline-block;
    padding: 8px 38px;
    border: 1px solid #2d9cdb;
    outline: none;
    color: #2d9cdb;
    font-family: "Bebas Neue Regular";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #2d9cdb;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__drop {
    position: relative;
    &:hover {
      .m-header__sub-nav {
        display: block;
      }
    }
  }
  &__sub-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 290px;
    margin: 0;
    margin-left: 20px;
    margin-top: -9px;
    padding: 14px;
    list-style: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    transition: all 0.2s ease-out;
    z-index: 9;
    li {
      display: block;
      a {
        display: block;
        padding: 12px 0;
        color: #021745;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover,
        &:active,
        &:focus {
          color: #2d9cdb;
          text-decoration: none;
        }
      }
    }
  }
  &__nav {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    &-link {
      display: inline-block;
      position: relative;
      margin: 4px 20px;
      padding: 2px 0;
      overflow: hidden;
      color: #ffffff;
      font-family: "Bebas Neue Regular";
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      &:after {
        display: block;
        position: absolute;
        content: '';
        bottom: 2px;
        right: 100%;
        width: 100%;
        height: 2px;
        box-shadow: 0 0 35px rgba(45, 156, 219, 0.42);
        background-image: linear-gradient(to bottom, #33bfff 0%, #0085c2 100%);
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #ffffff;
        text-decoration: none;
        &:after {
          right: 0;
        }
      }
    }
  }
  &__search {
    display: inline-block;
    padding: 2px 6px 6px 6px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      color: #2d9cdb;
      text-decoration: none;
    }
  }
}

.m-home {
  display: block;
  position: relative;
  padding: 0;
  background: url('../images/home_bg.jpg') no-repeat center;
  background-size: cover;
  &__card {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: 100%;
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    font-family: "Bebas Neue Regular";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 35px 21px rgba(0, 0, 0, 0.13);
      transform: scale(1.1);
      text-decoration: none;
      z-index: 2;
    }
    &-title {
      &_centered {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        img {
          max-width: 100%;
          flex: 0 0 auto;
        }
      }
      &_toped {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        img {
          max-width: 100%;
          flex: 0 0 auto;
        }
      }
    }
    &_text_light {
      color: #ffffff;
    }
    &_text_dark {
      color: #021745;
    }
    &_size_high {
      min-height: 600px;
    }
    &_text_left {
      justify-content: flex-start;
    }
    &_text_right {
      justify-content: flex-end;
      text-align: right;
    }
    &_text_top {
      align-items: flex-start;
    }
    &_text_bottom {
      align-items: flex-end;
    }
  }
}

#map {
  display: block;
  position: absolute !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.m-bottom {
  display: block;
  position: relative;
  overflow: hidden;
  &__content {
    display: block;
    width: 100%;
    padding: 200px 30px;
    box-shadow: 0 31px 35px rgba(0, 0, 0, 0.42);
    background-color: #2d9cdb;
    z-index: 1;
  }
  &__title {
    display: block;
    margin: 0 0 28px 0;
    color: #ffffff;
    font-family: "Bebas Neue Regular";
    font-size: 35px;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
  }
  &__row {
    display: block;
    margin-bottom: 14px;
    color: #ffffff;
    font-family: "Bebas Neue Regular";
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &_icon {
    margin-right: 5px;
    color: #243050;
    font-size: 17px;
  }
}

.m-footer {
  display: block;
  padding: 30px 0;
  background-color: #041741;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: inline-block;
    img {
      max-width: 95px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &__nav {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    a {
      display: inline-block;
      position: relative;
      margin: 4px 20px;
      padding: 2px 0;
      overflow: hidden;
      color: #ffffff;
      font-family: "Bebas Neue Regular";
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #2d9cdb;
        text-decoration: none;
      }
    }
  }
  &__creators {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
      display: block;
      margin: 0 0 4px 0;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 400;
      text-align: center;
    }
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      img {
        display: inline-block;
        margin-right: 4px;
        transition: all 0.2s ease-out;
      }
      span {
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        text-decoration: underline;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #2d9cdb;
        text-decoration: none;
        img {
          transform: rotate(180deg);
        }
        span {
          color: #2d9cdb;
          text-decoration: none;
        }
      }
    }
  }
}

.m-modal {
  display: block;
  width: 100%;
  max-width: 545px;
  padding: 35px;
  box-shadow: 0 0 35px rgba(45, 156, 219, 0.42);
  background-image: linear-gradient(to bottom, #33bfff 0%, #0085c2 100%);
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 470px;
    padding: 85px 70px 95px 70px;
    background-color: #041741;
  }
  &__title {
    display: block;
    margin: 0 0 24px 0;
    color: #ffffff;
    font-family: "Bebas Neue Bold";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__sub-title {
    display: block;
    margin: 0 0 44px;
    color: #ffffff;
    font-family: "Bebas Neue Regular";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__button {
    display: block;
    width: 100%;
    margin: 0;
    padding: 13px;
    border: 0;
    outline: 0;
    box-shadow: 0 0 35px rgba(45, 156, 219, 0.42);
    background-image: linear-gradient(to bottom, #33bfff 0%, #0085c2 100%);
    color: #ffffff;
    font-family: "Bebas Neue Regular";
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 0 35px rgba(45, 156, 219, 0.42);
      background-image: linear-gradient(to bottom, #64ceff 0%, #009ee7 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 330px;
    margin: 0;
    label {
      display: block;
      margin: 0 0 8px 0;
      color: #ffffff;
      font-family: "Bebas Neue Light";
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
    }
    input {
      display: block;
      width: 100%;
      margin: 0 0 18px 0;
      padding: 12px;
      border: 0;
      outline: 0;
      background-color: #ffffff;
      color: #000000;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
    }
  }
  &__checked {
    display: block;
    margin: 0 0 34px 0;
    padding-left: 25px;
    background: url('../images/icon_checked.png') no-repeat left 4px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
  }
  &__close {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: rotate(180deg);
      text-decoration: none;
    }
  }
  &__wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
  }
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.8);
  }
}

.m-page {
  display: block;
  padding: 50px 0 100px;
  background: #ffffff;
}

.m-certificates {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  &__card {
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
    max-width: 500px;
    margin-bottom: 50px;
    transition: all 0.2s ease-out;
    &-link {
      display: block;
      position: relative;
      border: 1px solid #4772b8;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        .m-certificates__card-zoom {
          display: block;
        }
        .m-certificates__card-mask {
          display: block;
        }
      }
    }
    &-image {
      display: inline-block;
      width: 100%;
      max-width: 200px;
      height: 285px;
      object-fit: contain;
      transition: all 0.2s ease-out;
    }
    &-mask {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 200px;
      height: 285px;
      background-color: #4772b8;
      opacity: 0.25;
      transition: all 0.2s ease-out;
      z-index: 1;
    }
    &-zoom {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 28px;
      height: 28px;
      margin-left: -14px;
      margin-top: -14px;
      object-fit: contain;
      transition: all 0.2s ease-out;
      z-index: 2;
    }
    &-content {
      display: inline-block;
      width: 100%;
      max-width: 300px;
      min-height: 190px;
      padding: 26px 30px;
      background: #4772b8 url('../images/certificates_bg.png') no-repeat right bottom;
      color: #ffffff;
      font-family: "Bebas Neue Regular";
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2;
    }
  }
}

.m-pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    min-height: 35px;
    margin: 2px;
    padding: 2px;
    color: #2d9cdb;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #2d9cdb;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__page {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    min-height: 35px;
    margin: 2px;
    padding: 2px;
    color: #2d9cdb;
    font-family: "Bebas Neue Bold";
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #2d9cdb;
      color: #ffffff;
      text-decoration: none;
    }
    &_active {
      background: #2d9cdb !important;
      color: #ffffff !important;
    }
  }
}

.m-project {
  display: block;
  &__title {
    display: block;
    margin: 0 0 22px 0;
    color: #182a4a;
    font-family: "Bebas Neue Regular";
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__info {
    display: block;
    margin: 10px 0;
    color: #323232;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__row {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
    color: #323232;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    img {
      display: inline-block;
      margin-right: 12px;
    }
    p {
      display: inline-block;
      max-width: 325px;
      margin: 0;
    }
  }
  &__image {
    &-link {
      display: block;
      width: 100%;
      max-width: 500px;
      position: relative;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        .m-project__image-zoom {
          display: block;
        }
        .m-project__image-mask {
          display: block;
        }
      }
    }
    &-image {
      display: inline-block;
      width: 100%;
      max-width: 500px;
      height: 350px;
      object-fit: cover;
      transition: all 0.2s ease-out;
    }
    &-mask {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 500px;
      height: 350px;
      background-color: #041741;
      opacity: 0.7;
      transition: all 0.2s ease-out;
      z-index: 1;
    }
    &-zoom {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 36px;
      height: 38px;
      margin-left: -18px;
      margin-top: -19px;
      object-fit: contain;
      transition: all 0.2s ease-out;
      z-index: 2;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    padding: 70px 0 0 0;
  }
  &__card {
    display: block;
    margin-bottom: 30px;
    width: 100%;
    max-width: 370px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      .m-project__card-zoom {
        display: block;
      }
      .m-project__card-mask {
        display: block;
      }
    }
    &-image {
      display: inline-block;
      width: 100%;
      max-width: 370px;
      height: 215px;
      object-fit: cover;
      transition: all 0.2s ease-out;
    }
    &-mask {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 500px;
      height: 215px;
      background-color: #041741;
      opacity: 0.7;
      transition: all 0.2s ease-out;
      z-index: 1;
    }
    &-zoom {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 28px;
      height: 28px;
      margin-left: -14px;
      margin-top: -14px;
      object-fit: contain;
      transition: all 0.2s ease-out;
      z-index: 2;
    }
  }
}

.m-sidenav {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: block;
  }
  &__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 20px 0;
    color: #021745;
    font-family: "Bebas Neue Regular";
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    img {
      display: inline-block;
      width: 31px;
      height: 31px;
      object-fit: scale-down;
      object-position: center;
      margin-right: 20px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #2d9cdb;
      text-decoration: none;
    }
  }
}

.m-catalog {
  display: block;
  width: 100%;
  &__title {
    display: block;
    width: 100%;
    margin: 0;
    padding: 8px;
    background-color: #2d9cdb;
    color: #ffffff;
    font-family: "Bebas Neue Regular";
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #ffffff;
      color: #2d9cdb;
      text-decoration: none;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 217px;
    min-height: 290px;
    padding: 25px 20px 30px 20px;
    outline: 1px solid #e8f8ff;
    background-color: #ffffff;
    &-image {
      display: block;
      width: 100%;
      height: 190px;
      object-fit: contain;
    }
    &-title {
      display: block;
      width: 100%;
      margin: 10px 0 0 0;
      color: #323232;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      text-align: center;
    }
    /* &:after {
      transition: all 0.2s ease-out;
    } */
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      /* outline: 10px solid #ffffff; */
      transform: scale(1.1);
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
      color: #323232;
      text-decoration: none;
      z-index: 1;
      /* &:after {
        position: absolute;
        content: "";
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
      } */
    }
  }
}

.m-seo {
  display: block;
  padding: 100px 0;
  background: url('../images/seo_bg.jpg') no-repeat center;
  background-size: cover;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 1.5;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 20px 0;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 600;
  }
  p {
    display: block;
    margin: 0 0 20px 0;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 1.5;
  }
  b,
  strong {
    font-weight: 600;
  }
}

.m-good {
  display: block;
  width: 100%;
  &__card {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
    position: relative;
    border: 1px solid #e8f8ff;
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      .m-good__card-zoom {
        display: block;
      }
      .m-good__card-mask {
        display: block;
      }
    }
    &-image {
      display: inline-block;
      width: 100%;
      max-width: 300px;
      height: 300px;
      object-fit: contain;
      transition: all 0.2s ease-out;
    }
    &-mask {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 300px;
      height: 300px;
      background-color: #041741;
      opacity: 0.7;
      transition: all 0.2s ease-out;
      z-index: 1;
    }
    &-zoom {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 28px;
      height: 28px;
      margin-left: -14px;
      margin-top: -14px;
      object-fit: contain;
      transition: all 0.2s ease-out;
      z-index: 2;
    }
  }
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #021745;
    font-family: "Bebas Neue Regular";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__description {
    display: block;
    margin: 0 0 20px 0;
    color: #323232;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    b,
    strong {
      color: #021745;
      font-weight: 600;
    }
  }
  &__titles {
    display: flex;
    width: 100%;
    margin: 30px 0 15px 0;
    padding-left: 40px;
    color: #021745;
    font-family: "Bebas Neue Regular";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__collapse {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    &-help {
      display: none;
    }
    &-header {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 7px 6px 7px 40px;
      background-color: #2d9cdb;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 7px;
        height: 11px;
        left: 10px;
        top: 50%;
        margin-top: -5px;
        background: url('../images/icon_collapse.png') no-repeat center;
        background-size: contain;
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
      &_opened {
        &:before {
          transform: rotate(90deg);
        }
      }
    }
    &-content {
      display: none;
      position: relative;
      width: 100%;
      padding: 16px 26px 44px 26px;
      border: 1px solid #2d9cdb;
      background-color: #ffffff;
    }
    &-button {
      display: inline-block;
      padding: 5px 22px;
      border: 1px solid transparent;
      outline: 0;
      background-color: #ffffff;
      color: #2d9cdb;
      font-family: "Bebas Neue Regular";
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: #021745;
        color: #021745;
        text-decoration: none;
      }
    }
    &-table {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      width: 100%;
    }
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      position: relative;
      width: 100%;
      margin-bottom: 10px;
      color: #323232;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      &:nth-child(2n-1) {
        .m-good__collapse-left {
          background-color: #fafafa;
        }
        .m-good__collapse-right {
          background-color: #fafafa;
        }
      }
    }
    &-left {
      display: inline-block;
      width: 100%;
      max-width: 435px;
      padding: 6px 14px;
      border-right: 10px solid #ffffff;
    }
    &-right {
      display: inline-block;
      width: 100%;
      max-width: 380px;
      padding: 6px 14px;
    }
  }
}

.m-service {
  display: block;
  &__title {
    display: block;
    margin: 0 0 28px 0;
    color: #182a4a;
    font-family: "Bebas Neue Regular";
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__info {
    display: block;
    width: 100%;
    color: #323232;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__seo {
    display: block;
    width: 100%;
    padding: 30px 0 0 0;
    color: #323232;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__image {
    &-link {
      display: block;
      width: 100%;
      max-width: 500px;
      position: relative;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        .m-service__image-zoom {
          display: block;
        }
        .m-service__image-mask {
          display: block;
        }
      }
    }
    &-image {
      display: inline-block;
      width: 100%;
      max-width: 500px;
      height: 350px;
      object-fit: cover;
      transition: all 0.2s ease-out;
    }
    &-mask {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 500px;
      height: 350px;
      background-color: #041741;
      opacity: 0.7;
      transition: all 0.2s ease-out;
      z-index: 1;
    }
    &-zoom {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 36px;
      height: 38px;
      margin-left: -18px;
      margin-top: -19px;
      object-fit: contain;
      transition: all 0.2s ease-out;
      z-index: 2;
    }
  }
}

.m-hey {
  display: block;
  padding: 0;
  background-color: #f7fdff;
  &__ul {
    display: block;
    margin: 0;
    padding: 20px 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      margin: 0 0 30px 0;
      padding: 0 0 0 35px;
      background: url('../images/icon_li_2.png') no-repeat left 0px;
      color: #021745;
      font-family: "Bebas Neue Regular";
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      a {
        position: relative;
        color: #021745;
        z-index: 2;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover,
        &:active,
        &:focus {
          color: #2d9cdb;
          text-decoration: none;
        }
      }
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 470px;
    padding: 85px 70px 95px 70px;
    background-color: #2d9cdb;
  }
  &__title {
    display: block;
    margin: 0 0 24px 0;
    color: #ffffff;
    font-family: "Bebas Neue Bold";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__sub-title {
    display: block;
    margin: 0 0 44px;
    color: #ffffff;
    font-family: "Bebas Neue Regular";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__button {
    display: block;
    width: 100%;
    margin: 0;
    padding: 13px;
    border: 1px solid #ffffff;
    outline: 0;
    background: transparent;
    color: #ffffff;
    font-family: "Bebas Neue Regular";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #ffffff;
      color: #2d9cdb;
      text-decoration: none;
    }
  }
  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 330px;
    margin: 0;
    label {
      display: block;
      margin: 0 0 8px 0;
      color: #ffffff;
      font-family: "Bebas Neue Light";
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
    }
    input {
      display: block;
      width: 100%;
      margin: 0 0 18px 0;
      padding: 12px;
      border: 0;
      outline: 0;
      background-color: #ffffff;
      color: #000000;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
    }
  }
  &__checked {
    display: block;
    margin: 0 0 34px 0;
    padding-left: 25px;
    background: url('../images/icon_checked_2.png') no-repeat left 4px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
  }
}

.m-portfolio {
  display: block;
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #021745;
    font-family: "Bebas Neue Regular";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    padding-bottom: 20px;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 570px;
    margin-bottom: 30px;
    border: 1px solid #4772b8;
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: scale(1.05);
      text-decoration: none;
      .m-portfolio__card-button {
        background: #44b4f3;
        transform: scale(1.05);
      }
    }
    &-image {
      display: block;
      width: 100%;
      height: 240px;
      object-fit: cover;
    }
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      padding: 15px 20px 15px 20px;
    }
    &-title {
      display: inline-block;
      max-width: 330px;
      margin: 0;
      color: #021745;
      font-family: "Bebas Neue Regular";
      font-size: 22px;
      font-weight: 400;
      line-height: 1.6;
      text-transform: uppercase;
    }
    &-button {
      display: inline-block;
      padding: 18px 40px;
      background-color: #2d9cdb;
      color: #ffffff;
      font-family: "Bebas Neue Regular";
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background: #44b4f3;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.m-why {
  display: block;
  &__title {
    display: block;
    margin: 40px 0 45px 0;
    color: #041741;
    font-family: "Bebas Neue Bold";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__cards {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    &-image {
      display: inline-block;
      width: 100px;
      height: 100px;
      margin-right: 30px;
      object-fit: scale-down;
    }
    &-content {
      display: block;
      width: 100%;
      max-width: 480px;
    }
    &-title {
      display: block;
      margin: 0 0 12px 0;
      color: #2d9cdb;
      font-family: "Bebas Neue Regular";
      font-size: 28px;
      font-weight: 400;
      text-transform: uppercase;
    }
    &-text {
      display: block;
      margin: 0;
      color: #323232;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 1.3;
    }
  }
  &__top {
    display: block;
    width: calc(100% - ((100% - 1200px) / 2 + 275px));
    padding: 50px 130px 50px calc((100% - 1170px) / 2);
    background: rgba(2, 23, 69, 0.77);
    color: #fefefe;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    &-wrapper {
      padding: 30px 0 70px 0;
    }
  }
}

.m-about {
  &__top {
    display: flex;
    align-items: stretch;
    width: calc(1170px + (100% - 1170px) / 2);
    margin-left: calc((100% - 1170px) / 2);
    background: rgba(2, 23, 69, 0.77);
    color: #fefefe;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    &-content {
      display: inline-block;
      padding: 45px calc(100% - 1170px) 45px 70px;
    }
    img {
      display: inline-block;
      flex: 0 0 300px;
      width: 100%;
      max-width: 300px;
      object-fit: cover;
    }
  }
  &__numbers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 50px;
  }
  &__number {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    color: #021745;
    font-family: "Bebas Neue Regular";
    font-size: 35px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
  }
}

.m-killme {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 150px;
  &__content {
    display: block;
    width: calc(100% - ((100% - 1200px) / 2 + 275px));
    padding: 140px 120px 140px calc((100% - 1170px) / 2);
    border: 1px solid #4772b8;
    background-color: #ffffff;
    color: #323232;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
  }
  &__text {
    max-width: 575px;
  }
  &__image {
    display: block;
    position: absolute;
    right: 0;
    top: 60px;
    width: 830px;
    height: 470px;
    object-fit: cover;
  }
}

.m-how {
  display: block;
  padding: 0 0 100px;
  &__title {
    display: block;
    margin: 0 0 45px 0;
    color: #021745;
    font-family: "Bebas Neue Regular";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 200px;
    min-height: 195px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #2d9cdb;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      color: #ffffff;
      text-decoration: none;
    }
    &-number {
      display: block;
      margin: 0 0 4px 0;
      color: #fefeff;
      font-family: "Bebas Neue Bold";
      font-size: 35px;
      font-weight: 400;
      text-transform: uppercase;
    }
    &-title {
      display: block;
      margin: 0;
      color: #fefeff;
      font-family: "Bebas Neue Regular";
      font-size: 25px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}

.m-clients {
  display: block;
  padding: 45px 0;
  background-color: #f7fdff;
  &__title {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 0 60px 0;
    color: #021745;
    font-family: "Bebas Neue Regular";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__arrows {
    display: inline-block;
    margin-left: 15px;
  }
  &__arrow {
    display: inline-block;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &__cards {
    display: block;
    width: 100%;
  }
  &__card {
    width: 170px;
    height: 170px;
    object-fit: contain;
  }
}

.m-cert {
  display: block;
  padding: 100px 0;
  background-color: #ffffff;
  &__title {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 0 60px 0;
    color: #021745;
    font-family: "Bebas Neue Regular";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__arrows {
    display: inline-block;
    margin-left: 15px;
  }
  &__arrow {
    display: inline-block;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &__cards {
    display: block;
    width: 100%;
  }
  &__button {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    padding: 12px 46px;
    border: 0;
    outline: none;
    box-shadow: 0 0 35px rgba(45, 156, 219, 0.42);
    background-image: linear-gradient(to bottom, #33bfff 0%, #0085c2 100%);
    color: #ffffff;
    font-family: "Bebas Neue Regular";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 0 35px rgba(45, 156, 219, 0.42);
      background-image: linear-gradient(to bottom, #64ceff 0%, #009ee7 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

#place {
  display: block;
  width: 100%;
  height: 500px;
}

.m-contacts {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: 500px;
  padding: 90px 50px 40px 50px;
  border: 1px solid #4772b8;
  background: #ffffff;
  &__title {
    display: block;
    margin: 0 0 8px 0;
    color: #021745;
    font-family: "Bebas Neue Regular";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__sub-title {
    display: block;
    margin: 0 0 34px 0;
    color: #323232;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
  }
  &__row {
    display: block;
    margin-bottom: 14px;
    color: #323232;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #323232;
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &_icon {
    margin-right: 5px;
    color: #041741;
    font-size: 16px;
  }
  &__buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    margin-top: 70px;
  }
  &__button {
    display: inline-flex;
    align-items: center;
    min-width: 140px;
    padding: 12px 7px;
    box-shadow: 0 0 35px rgba(45, 156, 219, 0.42);
    background-image: linear-gradient(to bottom, #33bfff 0%, #0085c2 100%);
    color: #ffffff;
    font-family: "Bebas Neue Regular";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    span {
      width: 100%;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 0 35px rgba(45, 156, 219, 0.42);
      background-image: linear-gradient(to bottom, #64ceff 0%, #009ee7 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

@media (max-width: 1650px) and (min-width: 1200px) {
  .m-killme__image {
    max-width: 580px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .h-need-lamp {
    position: relative;
    &:hover:before {
      background-image: url('../images/lamp.png') !important;
    }
  }
  .h-need-lamp:before {
    display: block;
    content: '';
    position: absolute;
    bottom: 100%;
    right: 20px;
    width: 376px;
    height: 881px;
    background: url('../images/lamp_off.png') no-repeat center bottom;
    z-index: 1;
    transition: all 0.2s ease-out;
  }
}

@media (max-width: 1199px) {
  .m-header__mob {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .m-header__mob-nav {
    display: inline-block;
    padding: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  .m-header__logo img {
    max-width: 80px;
  }
  .m-header {
    padding: 10px 0;
  }
  .m-header__sub-nav {
    display: none !important;
  }
  .m-header__nav {
    display: none;
    width: 100%;
    padding: 6px 0;
    text-align: center;
    li {
      display: block;
    }
    &-link {
      display: block;
      width: 100%;
      margin: 0;
      padding: 6px;
    }
  }
  .m-header__nav-link:after {
    display: none;
  }
  .m-header {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .m-header__contact {
    margin-top: 4px;
    align-items: center;
  }
  .m-header__phone {
    text-align: center;
  }
  .m-top__content {
    padding: 20px 0;
  }
  .m-top__content ul li {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .m-top__what {
    padding: 20px;
  }
  .m-home__card {
    min-height: 220px;
    margin-bottom: 4px;
  }
  .m-bottom__content {
    padding: 20px;
  }
  .m-bottom__title {
    margin-bottom: 16px;
    line-height: 1.2;
  }
  .m-footer>.container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .m-footer__nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 6px 0;
  }
  .m-home {
    padding-top: 4px;
  }
  #map {
    display: block;
    position: relative !important;
    height: 300px;
    z-index: 3;
  }
  .m-home__card-title {
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
  }
  .m-home__card {
    justify-content: flex-start;
    align-items: flex-end;
  }
  .m-top__title {
    font-size: 42px;
  }
  .m-top__breadcrumps {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .m-top {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/top_bg.jpg) no-repeat center top;
  }
  .m-page {
    padding: 30px 0 0 0;
  }
  .m-certificates__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 20px 0;
  }
  .m-certificates__card-image {
    max-width: 140px;
    height: 200px;
  }
  .m-certificates {
    justify-content: space-around;
  }
  .m-certificates__card-content {
    padding: 20px;
  }
  .m-certificates__card-content {
    min-height: 1px;
  }
  .m-project__image-link {
    max-width: 400px;
    margin: 0 auto 20px auto;
  }
  .m-project__image-mask {
    max-width: 400px;
    height: 250px;
  }
  .m-project__image-image {
    max-width: 400px;
    height: 250px;
  }
  .m-project__cards {
    padding: 20px 0 0 0;
  }
  .m-project__cards {
    justify-content: space-around;
  }
  .m-project__card {
    margin-bottom: 15px;
  }
  .m-sidenav__link {
    padding: 6px 0;
  }
  .m-catalog__cards {
    justify-content: space-around;
  }
  .m-seo {
    padding: 30px 0;
  }
  .m-good__title {
    margin-bottom: 15px;
    font-size: 28px;
  }
  .m-good__titles {
    display: none;
  }
  .m-good__collapse-right {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .m-good__collapse-left {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    text-align: center;
  }
  .m-good__collapse-content {
    padding: 12px 6px;
  }
  .m-good__collapse-header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 6px 20px;
    text-align: center;
    span {
      width: 100% !important;
      text-align: center !important;
    }
  }
  .m-good__collapse-help {
    display: block;
    margin-bottom: 1px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .m-good__collapse-col {
    margin-bottom: 6px;
  }
  .m-service__image-link {
    max-width: 400px;
    margin: 0 auto 20px auto;
  }
  .m-service__image-mask {
    max-width: 400px;
    height: 250px;
  }
  .m-service__image-image {
    max-width: 400px;
    height: 250px;
  }
  .m-service__title {
    margin-bottom: 15px;
    font-size: 24px;
  }
  .m-service__seo {
    padding: 0;
  }
  .m-hey__ul li {
    margin-bottom: 15px;
    font-size: 20px;
  }
  .m-hey__content {
    padding: 20px;
  }
  .m-hey__title {
    margin-bottom: 15px;
    font-size: 32px;
    text-align: center;
  }
  .m-hey__sub-title {
    margin-bottom: 15px;
    text-align: center;
  }
  .m-hey__checked {
    margin-bottom: 15px;
  }
  .m-portfolio__title {
    margin-bottom: 20px;
    font-size: 30px;
  }
  .m-portfolio__card-image {
    height: 140px;
  }
  .m-portfolio__card-row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .m-portfolio__card-title {
    margin-bottom: 10px;
  }
  .m-portfolio__card {
    margin-bottom: 20px;
  }
  .m-why__top {
    width: 100%;
    padding: 20px 15px;
  }
  .m-why__top-wrapper {
    padding: 0 0 20px 0;
  }
  .m-why__title {
    margin: 20px 0;
    font-size: 30px;
    text-align: center;
  }
  .m-why__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
  }
  .m-why__card-title {
    margin-bottom: 4px;
  }
  .m-modal__content {
    padding: 20px 15px;
  }
  .m-modal__title {
    font-size: 30px;
    text-align: center;
  }
  .m-modal__content {
    align-items: center;
  }
  .m-modal__sub-title {
    margin-bottom: 20px;
    text-align: center;
  }
  .m-modal__checked {
    margin-bottom: 20px;
  }
  .m-modal {
    padding: 5px;
  }
  .m-killme__content {
    width: 100%;
    padding: 20px;
  }
  .m-killme__image {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 240px;
  }
  .m-about__top-content {
    padding: 20px 15px;
  }
  .m-about__top {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .m-about__top img {
    max-width: 250px;
    height: 250px;
    margin-top: 20px;
  }
  .m-about__number {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    img {
      max-width: 100%;
      max-height: 80px;
      margin: 4px 0;
    }
  }
  .m-killme {
    margin-bottom: 0;
  }
  .m-how__cards {
    justify-content: space-around;
  }
  .m-how {
    padding: 0;
  }
  .m-clients {
    padding: 20px 0;
  }
  .m-clients__title {
    margin-bottom: 20px;
  }
  .m-clients__card {
    margin: 0 auto;
  }
  .m-cert__title {
    margin-bottom: 20px;
  }
  .m-cert__card {
    margin: 0 auto 20px auto;
  }
  .m-cert {
    padding: 20px 0;
  }
  #place {
    width: 100%;
    height: 300px;
  }
  .m-contacts {
    min-height: 1px;
    padding: 20px 15px;
  }
  .m-contacts__buttons {
    margin-top: 10px;
  }
  .m-header__searching {
    position: relative;
    margin: 0 auto;
  }
  .m-home__card-title_centered img {
    display: none;
  }
  .m-home__card-title_toped img {
    display: none;
  }
  body {
    overflow-x: hidden;
  }
  .m-top__content ul li {
    background: url(../images/icon_li.png) no-repeat left -6px;
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}